"use strict";

module.exports = {
  /* here some specific wrapper options */

  options: {
    /* the global/common options */
  },

  types: {
    /* all your supported types here, like */

    user: {
      model: "App/Models/User",
      options: {
        /* the specific type/model options */
      }
    }
  }
};
